body {
    font: "Raleway", sans-serif;
    color: rgba(0,0,0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5rem;
    top: 15%;
    background: linear-gradient(to right, red, yellow);
}


